2_Representational/.ipynb_checkpoints
2_Representational/bert_dual_encoder_optimizer.pt
2_Representational/bert_dual_encoder.pt
2_Representational/dev_tweet_embeddings.pt
2_Representational/docs.json
2_Representational/paper_chunk_embeddings.pt
