2_Representational/.ipynb_checkpoints
2_Representational/bert_dual_encoder_optimizer.pt
2_Representational/bert_dual_encoder.pt
2_Representational/dev_tweet_embeddings.pt
2_Representational/docs.json
2_Representational/paper_chunk_embeddings.pt
2_Representational/longtransformer.ipynb
2_NLP_Rep/.ipynb_checkpoints
2_NLP_Rep/paper_embeddings*
2_NLP_Rep/tweet_embeddings*
2_NLP_Rep/submission*
2_NLP_Rep/bert_dual_encoder_optimizer.pt
2_NLP_Rep/bert_dual_encoder.pt
2_NLP_Rep/dev_tweet_embeddings.pt
2_NLP_Rep/docs.json
2_NLP_Rep/paper_chunk_embeddings.pt
2_NLP_Rep/longtransformer.ipynb
2_NLP_Rep/results_*
2_NLP_Rep/similarities*
2_NLP_Rep/.Rhistory
.venv
.ipynb_checkpoints